
<button hidden #btnError class="btn btn-warning btn-lg" data-toggle="modal" data-target="#errorM" ></button>

<div class="modal" id='errorM' tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error de inicio de Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Usuario invalidado, contactese con el Admin ya!</p>
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <app-volver></app-volver>

  <button class="btn btn-lg btn-info" (click)='conAd()'>Admin</button>
  <button class="btn btn-lg btn-info"(click)='conCli()'>Cliente</button>
  <button class="btn btn-lg btn-info" (click)='conEs()'>Especialista</button>
  <button class="btn btn-lg btn-info" (click)='conRe()'>Recepcionista</button>
</div>

<div class="container h-100 bg-1">
  <div class="container d-flex justify-content-center h-100">

  <form [formGroup]="ingresoForm" class="form-signin container modal-content animate" (ngSubmit)="Ingresar()" >
    <div class="row">
      <div class="col-3">
      </div>

      <div class="col container justify-content-center">
        <img class="mb-4 img-thumbnail img-fluid img-responsive" src="../../../assets/imagenes/craneo.jpg" alt="" width="72" height="72">
      </div>

    </div>

    <h1 class="h3 mb-3 font-weight-normal">Ingreso de Usuarios</h1>
    <label for="inputEmail" class="sr-only">Correo</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Correo" autofocus [formControl]="correo">
    <label for="inputPassword" class="sr-only">Clave</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Clave" [formControl]="clave">

    <div class="checkbox mb-3">     
     <re-captcha class="capt" [formControl]="myRecaptcha"
              (resolved) = 'resolved($event)' siteKey='6Lffw6sUAAAAAAdKFTvFSBukj4yVanHZaHIIzvSO'
              >
                  </re-captcha>
    </div>
    <button class="btn btn-lg btn-warning btn-block" [disabled]="!ingresoForm.valid" type="submit">Ingresar</button>
   
  </form>
  
  </div> 

  <!-- ultimo
  -->
</div>