
<div *ngIf='ver' class="container">

  <h1>Encuesta de satisfacción</h1> 

  <h4><i>La encuesta es anónima, solamente nosotros sabemos que fuiste vos</i> </h4>

  <h3>¿A quién se parece el doctor que te atendió?</h3>  

  <div class="row">

    <div class="col-2">1</div>
    <div class="col-2">2</div>
    <div class="col-2">3</div>
    <div class="col-2">4</div>
    <div class="col-2">5</div>

  </div>

  <div class="row">
      <div class="col-2"><input [(ngModel)]='encuesta' type= "radio"  id="" name="grupoDeRespuestas" value='1'></div>
      <div class="col-2"><input [(ngModel)]='encuesta' type= "radio"   id="" name="grupoDeRespuestas" value='2'></div>
      <div class="col-2"><input [(ngModel)]='encuesta' type= "radio"   id="" name="grupoDeRespuestas" value='3'></div>
      <div class="col-2"><input [(ngModel)]='encuesta' type= "radio"   id="" name="grupoDeRespuestas" value='4'></div>
      <div class="col-2"><input [(ngModel)]='encuesta' type= "radio"   id="" name="grupoDeRespuestas" value='5'></div>

  </div>

  <div class="row">
    <div class="col-2">Nick Riviera</div>
    <div class="col-2">Doctor Chapatín</div>
    <div class="col-2">Doctor House</div>
      <div class="col-2">Facundo Manes</div>
      <div class="col-2"> René Favaloro</div>

  </div>

  <div class="row">
      <div class="col-2"><img class="mb-4 img-thumbnail img-fluid img-responsive" src="../../../assets/imagenes/nick_riviera.jpg" alt="" width="80" height="80"></div>
      <div class="col-2"><img class="mb-4 img-thumbnail img-fluid img-responsive" src="../../../assets/imagenes/doctor_chapatin.jpg" alt="" width="80" height="80"></div>
      <div class="col-2"><img class="mb-4 img-thumbnail img-fluid img-responsive" src="../../../assets/imagenes/doctor_house.jpg" alt="" width="80" height="80"></div>
      <div class="col-2"><img class="mb-4 img-thumbnail img-fluid img-responsive" src="../../../assets/imagenes/facundo_manes.jpg" alt="" width="80" height="80"></div>
      <div class="col-2"><img class="mb-4 img-thumbnail img-fluid img-responsive" src="../../../assets/imagenes/rene_favaloro.jpg" alt="" width="80" height="80"></div>

  </div>

  <button class="btn btn-success btn-lg"(click)='guardarEncuesta()'>Guardar</button>
  <button class="btn btn-danger btn-lg" (click)='cancelarEnc()'>Cancelar</button>

</div>

<div class="container" *ngIf = '!ver'>
<h3 class="text-left">Mis Turnos</h3> 
     
        <table class="table table-responsive table-striped text-center table-dark   w-auto table-fixed">
        <thead>
          <tr class="text-left">                           
            <th >Fecha</th>
            <th class='th-lg'>Especialista</th>            
            <th class='th-lg'>Estado</th>   
            <th class='th-lg'>Ver Reseña</th>  
          </tr>
        </thead>
        
        <tbody>

          <tr class="text-left" *ngFor = "let turn of this.turnosDelCliente">                        
              <td>{{turn.turno.toDate()}}</td>
              <td>{{turn.especialista}}</td>
              <td>{{turn.estado}}</td>
              <td><button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#res"(click)='verRes(turn)'>Reseña</button></td>
         
         
          <tr>    
        </tbody>      
      </table>    

  </div>
<!-- <button hidden #btnError class="btn btn-warning btn-lg" data-toggle="modal" data-target="#errorM" ></button> -->

<div class="modal" id='res' tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">La reseña del profesional</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{reseniaActiva}}</p>
      </div>

      <div *ngIf = 'habilitarEnc'><button  class="btn btn-warning btn-lg"  (click) = 'verE()'>Encuesta</button></div>
      <div class="modal-footer">        
        <button #cierraPop type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- no se ve
   <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span>
        <span class="fa fa-star-o" data-rating="5"></span>
        <input type="hidden" name="whatever1" class="rating-value" value="2.56">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span>
        <span class="fa fa-star-o" data-rating="5"></span>
        <input type="hidden" name="whatever2" class="rating-value" value="1.9">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span>
        <span class="fa fa-star-o" data-rating="5"></span>
        <input type="hidden" name="whatever3" class="rating-value" value="4.1">
      </div>
    </div>
  </div>
</div> -->