/* You can add global styles to this file, and also import other style files */

.container{
    background-color: rgb(243, 187, 245);

    margin: 0.5rem;

    justify-content: center;

    padding: 0.5rem;

}

.btn{
    margin: 0.5rem;
}