

<!-- <div class="container">
  <button type="button" class="btn btn-sm btn-secondary" (click)='mostrarPuntaje()'>Ver puntajes</button>
</div> -->


    <div class="container" *ngIf = '!ver'>
        <h3 class="text-left">Puntaje de los Especialistas</h3> 
             
                <table class="table table-responsive table-striped text-center table-dark   w-auto table-fixed">
                <thead>
                  <tr>
                    <th class='th-lg'>Especialista</th>            
                    <th class='th-lg'>Puntaje</th>                       
                    <th class='th-lg'>Cant. Encuestas</th>                       
                  </tr>
                </thead>
                
                <tbody>        
                  <tr class="text-left" *ngFor = "let pts of this.listaPulida">      
                      <td>{{pts.correo}}</td>
                       <td>{{pts.promedio.toFixed(2)}}</td>
                       <td>{{pts.total}}</td>
                  <tr>    
                </tbody>      
              </table>   
      </div>

<div class="mb-3 d-flex justify-content-center form_container cont">  

  <form [formGroup]="TurnoForm" class=" container modal-content animate" (ngSubmit)="pedirTurno()">

    <div class="input-group mb-3">   
      <div class="container-fluid">    
          <h3 class="font-italic text-center bg-1">Pedir un turno</h3>        
      </div>         

      <div class="input-group-append">
          <label for="especialista">Especialista</label>
              <div class="input-group">                   
                  <select [formControl]='especialista' class='form-control' name="especialista">
                      <option *ngFor ='let espec of this.especActivos'  value="{{espec.correo}}">{{espec.correo}}</option> 
                      </select>     
                 
          </div>                             
        </div> 

      <div class="input-group-append">           
          <label for="turno">Fecha y Hora</label>
          <div class="input-group">
              <input name = 'turno' type="datetime-local" [formControl] = 'fecha'>
        </div>    

      </div>      
      
    </div>    
    
    <button type="submit" class="altabtn btn btn-md btn-danger" [disabled]="!TurnoForm.valid">Solicitar</button>
    
    
              
    
              
</form>   

         
          
            
</div>




 

  

