
  <h3 class="text-left">Listado de Usuarios</h3> 
     
        <table class="table table-responsive table-striped text-center table-dark   table-fixed">
        <thead>
          <tr class="text-left">               
            <th class='th-lg'>Correo</th>
            <th class='th-lg'>Perfil</th>
            <th class='th-lg'>Foto</th>            
          </tr>
        </thead>
        
        <tbody>

          <tr class="text-left" *ngFor = "let usr of this.usuarioYfoto">                        
              <td>{{usr.correo}}</td>
              <td>{{usr.perfil}}</td>
              <td><img class="mb-4 img-thumbnail img-fluid img-responsive" [src]='usr.rutaF | async' alt="" width="80" height="80"></td>
            
         
          <tr>    
        </tbody>      
      </table>    